body {
    background-color: #3F9CB1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins';
    padding: 0px;
    margin: 0px;
}

.container_apresentacao {
    background-color: #FFFFFF;
    color: #3F9CB1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 95vh;
    box-shadow: #3f4d50 0px 5px 15px;
}

.titulo {
    font-size: 3em;
    margin: 0px;
}

.subtitulo {
    font-size: 1.2em;
    margin: 0px;
}

.container {
    margin: 70px;
}

.container_bio {
    width: 50%;
    text-align: center;
    margin-top: 200px;
    height: 50vh;
}

.container_bio h2 {
    color: white;
    font-size: 2em;
    margin-bottom: 70px;
}

.container_tecnologias {
    width: 75%;
    text-align: center;
    margin-top: 100px;
    height: 50vh; 
}

.titulo_tecnologias {
    font-size: 2em;
    color: white;
}

.subtitulo_tecnologias {
    margin-bottom: 70px;
}

.lista_tecnologias {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.lista_item {
    background-color:white;
    width: 30%;
    height: 30vh;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
    box-sizing: border-box;
    margin: 15px;
    box-shadow: #3f4d50 0px 3px 8px;
}

.lista_item img {
    margin-top: 35px;
    position:static;
}

.lista_item p {
    color: #3F9CB1;
    font-weight: bolder;
    font-size: 1.3em;
}

